# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Uploaded docs
uploaded_docs/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Node modules
node_modules/

# Next build
.next/
out/

# VS Code
.vscode/

# Python build
dist/
build/
*.egg-info/